@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: white;
    height: 100%;
}

.logo {
    font-size: clamp(1.4rem, 3vw, 2rem);
}
.header-wrapper {
    background-color: rgba(128, 128, 128, 0.7);
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    align-items: center;
}
.navlink-list {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 35px;
    align-items: center;
}
.navlink-list a {
    transition: color 0.1s ease-in;
}
.navlink-list a:hover {
    color: white;
}
.nav-active {
    color: lawngreen !important;
}
header a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    font-size: max(0.8rem, 1.3vw);
}

.burger-menu-container {
    display: none;
}
.burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.line.active:nth-child(2) {
    opacity: 0;
}
.line.active:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}
.line.active:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

.search-cart-wrapper {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
}
.search-cart-wrapper button {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.search-input {
    border: none;
    outline: none;
    border-radius: 5px;
    height: 30px;
    background-color: white;
    padding-left: 10px;
    box-shadow: none;
    transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in;
}
.search-input:focus {
    background-color: gray;
    box-shadow: 0 0 0 1px rgb(255, 255, 255);
}
.search-input::placeholder {
    color: black;
    transition: color 0.2s ease-in;
}
.search-input::placeholder:focus {
    color: white;
}

.modal {
    background-color: gray;
    padding: 50px;
    border-radius: 5px;
    border: none;
    margin: auto;
}
.modal-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.modal button {
    align-self: flex-end;
    padding: 10px;
    border-radius: 5px;
    outline: none;
}

.home-wrapper {
    width: 90vw;
    padding-top: 20px;
    margin: 0 auto;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.home-wrapper img,
.home-wrapper h1 {
    justify-self: center;
    font-size: clamp(1.5rem, 20vw, 2.2rem);
}

.special-offers-wrapper {
    width: 80%;
    margin: 0 auto;
}
.offers-title {
    min-height: 50px;
    width: 45%;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    padding-left: 20px;
    font-size: clamp(1.2rem, 15vw, 1.5rem);
    font-weight: bold;
    color: white;
}
.slider-wrapper {
    max-width: 1000px;
    width: 60%;
    max-height: 400px;
    margin: 0 auto;
    position: relative;
}
.slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: #000;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
}
.slider-wrapper .slide-button:hover {
    background: #404040;
}
.slider-wrapper .slide-button#prev-slide {
    left: -25px;
    display: none;
}
.slider-wrapper .slide-button#next-slide {
    right: -25px;
}
.slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 18px;
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
}
.slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
}
.slider-wrapper .image-list .image-item {
    width: auto;
    height: 400px;
    object-fit: contain;
}
.slider-scrollbar {
    height: 10px;
    width: 100%;
    display: flex;
    align-items: center;
}
.slider-scrollbar .scrollbar-track {
    background: #ccc;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
}
.slider-scrollbar:hover .scrollbar-track {
    height: 4px;
}
.slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: #000;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
}
.slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}
.slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

footer {
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}
.footer-wrapper {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    align-items: center;
    gap: 20px;
    justify-content: space-around;
}
.footer-link-wrapper {
    padding-left: 20px;
    border-left: 2px solid black;
}
.footer-link {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: repeat(4, auto);
    gap: 5px;
    justify-items: flex-start;
}
.footer-link-wrapper a {
    text-decoration: none;
}
.footer-link a {
    color: white;
    font-size: clamp(0.6rem, 0.5625rem + 1vw, 1.125rem);
    transition: color 0.1s ease-in;
}
.footer-link a:hover {
    color: black;
}
.social-copyright {
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.socials {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
}
.footer-svg-container {
    width: 24px;
    height: 24px;
}
.socials path {
    transition: fill 0.2s ease-out;
}
.socials a:hover path,
.socials a:hover circle {
    fill: white;
}
.socials img {
    width: 24px;
    height: 24px;
}
.social-copyright p {
    padding: 10px;
    font-size: clamp(0.625rem, 0.4688rem + 0.5vw, 0.75rem);
}

.products-wrapper {
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    column-gap: 20px;
    row-gap: 40px;
    align-items: flex-start;
    justify-content: center;
}
.products-filter-wrapper {
    margin-top: 20px;
    grid-column: 1/-1;
}
.filter-fieldset {
    padding: 16px 14px;
    border: none;
}
.filter-label {
    font-size: 16px;
}
#filter-sort {
    border: none;
    font-weight: bold;
    margin-left: 4px;
    width: auto;
    background: none;
    font-size: 16px;
}
option {
    font-weight: normal;
    display: block;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    white-space: nowrap;
}

.product-container {
    padding: 10px;
    border: 1px solid black;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    justify-self: center;
    max-width: 300px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.product-img {
    width: 100%;
    max-height: 250px;
}
.product-color-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.product-color {
    display: inline-block;
    height: 30px;
    width: 30px;
}
.color-1 {
    background-color: bisque;
}
.color-2 {
    background-color: blue;
}
.color-3 {
    background-color: brown;
}
.color-4 {
    background-color: yellow;
}
.color-5 {
    background-color: blanchedalmond;
}
.color-6 {
    background-color: cadetblue;
}

.product-spec span {
    display: block;
    line-height: 1.4;
    font-size: clamp(0.75rem, 0.7099rem + 0.1835vw, 0.875rem);
}
.rating-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.rating-icons {
    min-width: 150px;
    display: flex;
    width: fit-content;
}
.rating-wrapper span {
    font-size: clamp(0.625rem, 0.5849rem + 0.1835vw, 0.75rem);
}
.purchase-product-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.purchase-product-wrapper button {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.product-price {
    font-weight: bolder;
    font-size: clamp(1.5rem, 1.4197rem + 0.367vw, 1.75rem);
}

.benefits-wrapper {
    width: 90vw;
    padding-top: 20px;
    margin: 0 auto;
}
.benefits-wrapper h1 {
    padding: 20px 0;
    font-size: clamp(1.2rem, 13vw, 1.8rem);
}
.benefit-container {
    padding: 10px;
    max-width: 800px;
    margin: 30px auto;
    display: grid;
    border: 1px solid black;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    grid-template-columns: repeat(auto-fill, 300px);
    align-items: center;
    justify-content: center;
}
.benefit-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.benefit-title {
    font-size: clamp(1rem, 12vw, 1.6rem);
    text-transform: uppercase;
    font-weight: 500;
}
.benefit-content {
    font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
}
.benefit-container img {
    width: 300px;
    height: 250px;
}

.contact-us-wrapper {
    max-width: 600px;
    width: 90%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    font-weight: bold;
}
.form-group input[type="text"],
.form-group input[type="email"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.form-group input[type="submit"] {
    background-color: lawngreen;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.form-group input[type="submit"]:hover {
    background-color: rgb(100, 197, 3);
}

.basket-wrapper {
    min-height: 60vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.basket-title {
    font-size: clamp(1rem, 0.6707rem + 1.5054vw, 1.875rem);
    padding: 20px;
    flex-shrink: 0;
}
.empty-basket {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.empty-basket span {
    font-weight: 600;
}
.basket-list {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.basket-item {
    width: 100%;
    max-width: 800px;
    max-height: 80px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 10px;
}
.item-img-name {
    min-width: 150px;
    display: flex;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
}
.item-img-name img {
    height: 60px;
    width: 60px;
}
.item-img-name h3 {
    text-transform: uppercase;
}
.price-group {
    display: flex;
    align-items: center;
    gap: 20px;
}
.price-group p {
    font-weight: 600;
}
.remove-from-cart {
    padding: 10px;
    background-color: red;
    color: white;
}

@media only screen and (max-width: 1023px) {
    .slider-wrapper {
        width: 80%;
    }
    .slider-wrapper .slide-button {
        display: none !important;
    }
    .slider-wrapper .image-list {
        gap: 10px;
        margin-bottom: 15px;
        scroll-snap-type: x mandatory;
    }
    .slider-wrapper .image-list .image-item {
        width: 280px;
        height: 380px;
    }
}

@media screen and (max-width: 680px) {
    .header-wrapper {
        padding: 20px;
        grid-template-columns: 1fr 0.3fr;
    }
    .header-wrapper nav,
    .search-cart-wrapper {
        display: none;
    }
    .burger-menu-container {
        display: block;
    }

    .product-img {
        max-height: 250px;
    }

    .home-wrapper {
        grid-template-columns: auto;
        grid-template-rows: 0.4fr 1fr;
        gap: 10px;
    }
    .slider-wrapper {
        width: 100%;
    }
    .offers-title {
        width: 100%;
        padding: 10px;
        margin-bottom: 0px;
    }
    .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group input[type="submit"] {
        width: calc(100% - 20px);
    }

    .basket-wrapper {
        width: 90%;
    }
}

@media screen and (min-width: 681px) {
    .header-wrapper {
        grid-template-columns: 1fr 2fr 1fr !important;
        grid-template-rows: none !important;
    }
    .header-wrapper nav {
        display: block;
        grid-column: auto !important;
    }
    .search-cart-wrapper {
        display: flex;
        grid-column: auto !important;
    }
    .burger-menu-container {
        display: none;
    }
}
